<!-- One way Binding--> 
{{title}} 

<!-- Two way Data Binding -->
<p>{{"Hello" + " " +'name'}}</p>
<input type="text" [(ngModel)]=name > 
<input type="text" [value]="name">
Property Binding in HTML
<p >Name: {{name}}</p>
<h2 [textContent]="name"></h2>
<p [innerText]="'Hi' + 'name'"></p>

<!-- Event Binding -->
<p>Clicked {{count}} times</p>
<button on-click="clickMe()">Click</button> 

<p>100 * 8 =  {{100*8}}</p>
<input type="number" [(ngModel)]=num1>
<input type="number" [(ngModel)]=num2>

<button (click)="getMax(num1, num2)">Get max : {{max}} </button>

<input type="text" name="" id="" 
    (input)="handleInput($event); 
    value1=$any($event.target).value" 
>
<p>{{value}}</p>
<p>{{value1}}</p>
<app-counter></app-counter>


<!-- /Directives -->
<!-- ngFor - listing -->


<ul>
    <li [ngClass]='{"even":e, "odd":o, "last":l}' *ngFor="
            let movie of movies; 
            let i=index; 
            let e=even; 
            let o=odd; 
            let f=first;
            let l=last
        "
    >
        {{i+1 + " " + movie.name}}
    </li>
</ul>


<!-- ngSwitch -->
<input type="number" name="" id="" [(ngModel)]="num1">

<div [ngSwitch]="num1">
    <div *ngSwitchCase="1">one</div>
    <div *ngSwitchCase="2">2</div>

</div>


<!-- ngIf -->
<label for="">Show me</label>
<input type="checkbox" placeholder="Show me" name="" [(ngModel)]="show">
<p *ngIf="show" class="success">ngIf clicked</p>
<p *ngIf="!show">ngIf unclicked</p>

<!-- or Using an elseBlock -->
 

<!-- Attribute Directives -->
<!-- ngClass -->
<!-- <div [ngClass]="['primary']">

</div>

<input type="checkbox" placeholder="Show me" name="" [(ngModel)]="enabledRed">
<div [ngClass]="{'primary':enabledRed}">
    hi
</div>

<input type="text" placeholder="Show me" name="" [(ngModel)]="changeColor">
<div [ngStyle]="{'color':changeColor}">
    Change in Style
</div> -->




<!-- Pipees -->
<br>
<br>
<br>
<h1>Pipes</h1>
<br>
<br>
<h2>Date Pipe</h2>
<p>unformated Data {{date}}</p>
<p>formated Data - date {{date | date}} </p> 
<p>formated Data - time :'medium' {{date | date :'medium'}} </p> 
<p>formated Data - time :'short' {{date | date :'short'}} </p> 
<p>formated Data - time :'fullDate' {{date | date :'fullDate'}} </p> 


<br>
<br>
<h2>Case Pipe</h2>
<p>Original Text {{case}}</p>
<p>Uppercase {{case | uppercase}}</p>
<p>Lowercase {{case | lowercase}}</p>
<p>Slice Pipe {{case | slice:1:5}}</p>

<p>Chainig two pipes {{case | uppercase | slice:1:4}}</p>







<app-form></app-form>
<hr>
<p>With at for </p>
<div>
    @for(e of user; track $index ) {
        <app-user-profile 
            [userName]=e.name 
            [salary]=e.salary
            (myEvent)="receiveData($event)"
        ></app-user-profile>
    }
</div>
<p>with ngFor</p>
<app-user-profile *ngFor="let u of user" (myEvent)="receiveData($event)" [userName]="u.name" [salary]="u.salary"></app-user-profile>


<h2 #heading>Header</h2>






<!-- HTTP /SERVICES / DI -->
<app-jokes></app-jokes>

<!-- services - whenever we need network based work, API, another server, GET, POST, PUT -->



<!-- TODO LIST -->
<!-- <app-header></app-header>
<app-sidebar></app-sidebar>

<main class=" ml-80 min-h-full py-4 px-8 bg-slate-100 h-screen">
    <router-outlet></router-outlet>
</main> -->